version: '3.7'
services:
 redpanda:
   image: docker.redpanda.com/vectorized/redpanda:v21.11.15
   container_name: redpanda-1
   command:
   - redpanda
   - start
   - --smp
   - '1'
   - --reserve-memory
   - 0M
   - --overprovisioned
   - --node-id
   - '0'
   - --kafka-addr
   - PLAINTEXT://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092
   - --advertise-kafka-addr
   - PLAINTEXT://redpanda:29092,OUTSIDE://localhost:9092
   - --pandaproxy-addr
   - PLAINTEXT://0.0.0.0:28082,OUTSIDE://0.0.0.0:8082
   - --advertise-pandaproxy-addr
   - PLAINTEXT://redpanda:28082,OUTSIDE://localhost:8082
   ports:
   - 8081:8081
   - 8082:8082
   - 9092:9092
   - 28082:28082
   - 29092:29092

 postgres:
  image: postgres:9.6.19-alpine
  container_name: postgres
  ports:
    - "5432:5432"
  environment:
    POSTGRES_PASSWORD: secret
    POSTGRES_USER: root
    POSTGRES_DB: root
  volumes:
  - ./files/postgres:/docker-entrypoint-initdb.d

 kafka-connect:
    image: confluentinc/cp-kafka-connect-base:7.2.0
    container_name: kafka-connect
    depends_on:
      - redpanda
      - postgres
    ports:
      - 8083:8083
    environment:
      CONNECT_BOOTSTRAP_SERVERS: "redpanda:29092"
      CONNECT_REST_PORT: 8083
      CONNECT_GROUP_ID: kafka-connect
      CONNECT_CONFIG_STORAGE_TOPIC: _connect-configs
      CONNECT_OFFSET_STORAGE_TOPIC: _connect-offsets
      CONNECT_STATUS_STORAGE_TOPIC: _connect-status
      CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
      CONNECT_VALUE_CONVERTER: org.apache.kafka.connect.storage.StringConverter
      CONNECT_REST_ADVERTISED_HOST_NAME: "kafka-connect"
      CONNECT_LOG4J_APPENDER_STDOUT_LAYOUT_CONVERSIONPATTERN: "[%d] %p %X{connector.context}%m (%c:%L)%n"
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_PLUGIN_PATH: /usr/share/java,/usr/share/confluent-hub-components,/data/connect-jars
    volumes:
      - $PWD/data:/data
    command:
      - bash
      - -c
      - |
        # uncomment below to install connectors. we have commented these statements out since we are
        # including the JARs in the GH repo so users don't have to wait for this
        echo "Installing connectors"
        #confluent-hub install --no-prompt confluentinc/kafka-connect-elasticsearch:11.1.3
        #confluent-hub install --no-prompt confluentinc/kafka-connect-jdbc:10.0.0
        echo "Launching Kafka Connect worker"
        /etc/confluent/docker/run &
        #
        sleep infinity
